# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project specific data and models (can be re-generated/re-trained)
data/raw/
data/processed/
models/*.pkl
reports/
!reports/.gitkeep
